.pfp {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 200px;
    text-align: center;
    align-items: center;
}

.socials {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

h6 {
    text-align: center;
    color: #6b6b6b;
}

p {
    text-align: center;
}