body {
    background-image:url(./Images/background.jpg);
    background-size: cover;
    height: 100vh;
}

.pfp {
    display: block;
    margin: auto;
    border-radius: 50%;
    height: 200px;
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    color: #fcfcfc;
}

h4 {
    text-align: center;
    color: #fcfcfc;
}

h6 {
    text-align: center;
    color: #ffffff;
}

p {
    text-align: center;
    color: #fcfcfc;
}